<div class="row">
  <div class="col-12">
    <h1>Tasks</h1>

      <div class="row">
        <% @tasks.each do |task|  %>
          <div class="card col-sm-4 text-center p-3">
            <img class="card-img-top img-fluid" src="<%= task.image %>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"> <%= task.name %></h5>
                <% if  @in_list.include? task.id  %>
                  <%= link_to '<i class="fas fa-check"></i> Cancelar'.html_safe, task_list_path( task, task.list?(current_user, task)), method: :delete, class: 'btn btn-sm btn-danger' %>
                  <%##task.list?(current_user, task) %>
                  
                <% else %>
                  <%= link_to '<i class="fas fa-check"></i> Completar'.html_safe, task_lists_path(task.id), method: :post, class: 'btn btn-sm btn-success' %>  
                <% end %>
                
              
               
              <%= link_to '<i class="fas fa-info"></i>  Detalles'.html_safe , task, class: 'btn btn-sm btn-info' %>
            </div>
          </div>
        <% end %>
      </div>

  </div>
</div>
