<div class="row">
  <div class="col-12">
    <h1>To Dos</h1>

      <div class="row">
        <% @todos.each do |to_do|  %>
          <div class="card col-sm-4 text-center p-3">
            <img class="card-img-top img-fluid" src="<%= to_do.image %>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"> <%= to_do.name %></h5>
              <h6 class="card-title"> <%= to_do.description %> </h6>
              <%= link_to '<i class="fas fa-check"></i> Completado'.html_safe, to_do_lists_path(to_do.id), method: :post, class: 'btn btn-sm btn-success' %> 
              <%= link_to '<i class="fas fa-info"></i>  Detalles'.html_safe , to_do, class: 'bnt btn-sm btn-info' %>
            </div>
          </div>
        <% end %>
      </div>

  </div>
</div>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |to_do| %>
      <tr>
        <td><%= to_do.name %></td>
        <td><%= to_do.description %></td>
        <td><%= to_do.image %></td>
        <td><%= link_to 'Show', to_do %></td>
        <td><%= link_to 'Edit', edit_to_do_path(to_do) %></td>
        <td><%= link_to 'Destroy', to_do, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New To Do', new_to_do_path %>
