<div class="row">
  <div class="col-12">
    <h3> <%= @to_do.name %> </h3>
    <p>
      <strong>Name:</strong>
      <%= @to_do.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @to_do.description %>
    </p>

    <p>
      <strong>Image:</strong>
      <%= @to_do.image %>
    </p>
  </div>

  <div class="col-12">
    <table></table>
  </div>

  <%= link_to 'Edit', edit_to_do_path(@to_do) %> |
  <%= link_to 'Back', to_dos_path %>

</div>